*{margin:0px;padding:0px;}
#footer{
	min-width:1200px;
	background:#71605a;
	margin:0 auto;

}
#footer:lafer{
	content:"";
	clear:both;
	display:block;
}
.first-ul{
	margin:0 auto;
	width:1000px;
	justify-content:center;
	flex-wrap:nowarp;
	padding-top:30px;
}
.flex{
	display:flex;
}
.first-ul li{
	margin:0 5px;
	list-style:none;
}
.first-ul li a,.first-ul li b{
	color:#fff;
	text-decoration:none;
	font-size:13px;
	font-family:"黑体";
}
	

 div.copy{
	width:800px;
	margin:0 auto;
	text-align:center;
	color:#fff;
	padding-top:80px;
 }
 #footer-3{
 width:400px;
	padding-top:20px;
	font-size:13px;
 }
 #footer-4{
 width:900px;
	font-size:12px;
	padding-top:15px;
	padding-bottom:20px;
 }
 
