*{margin:0px;padding:0px;}
#product{
    min-width:1200px;
    width:100%;
    background:#fff;
    margin-top:20px;
    margin-bottom: 20px;
}
.product{
    width:1200px;
    background:#fff;
    box-sizing:border-box;
    margin:0 auto;
}
.product>div{
    width:100%;
    box-sizing: border-box;
}
.product-query::before{
    content:"";
    display:table;
}
.product-query{
    box-sizing: border-box;
    border:1px solid #b4b3b3;
    /* margin-top: 10px; */
}
.query-document{
    width:100%;
    margin-top:10px;
}
.query-document>div{
    margin-left:15px;
    margin-bottom: 10px;
    font-size: 15px;
    color:#000;
    float: left;
}
.query-document>ul{
    list-style: none;
}
.query-document>ul>li{
    display:inline-block;
    margin:0 15px 5px 20px;
    font-size:14px;
}
.query-document>ul>li>input{
    width:50px;
}
.query-document>ul>li>a{
    text-decoration:none;
    color:#000;
}
/* 宠物详情列表部分 */
.product-animals{
    width:1200px;

}
/* 清除高度坍塌 */
.product-animals:after{
    content:"";
    display:block;
    clear:both;
}
/* 左侧部分 */
.animals-left{
    float: left;
    width:1200px;
}
.left-first{
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.animals-left>div{
    width:100%;
    box-sizing: border-box;
}
.left-first>div{
    height:40px;
    box-sizing: border-box;
    line-height:40px;
}
.left-first>div:first-child{
    width:120px;
    font-size: 19px;
    color:#fff;
    text-align:center;
    background:rgb(226, 115, 10);
   
}
.left-first>div:last-child{
    width:100%;
    text-align:end;
    padding-right: 10px;
    font-size: 14px;
    border:1px solid #b4b3b3;
    border-bottom: 1px solid rgb(226, 115, 10);
}
.left-first>div>span{
    font-size: 15px;
    font-weight: 600;
    color:rgb(226, 115, 10);
}
/*宠物列表部分 */
.left-second>ul{
    width:100%;
    box-sizing: border-box;
    list-style: none;
}
.left-second>ul>li{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    border:1px solid #b4b3b3;
    
}
/* 左侧 */
.second-left{
    width:200px;
    height:150px;
    border:1px solid #fff;
}
.second-left>img{
    width:200px;
    height:150px;
}
.left-second>ul>li::after{
    content:"";
    display: block;
    clear:both;
}
.left-second>ul>li>div{
    float: left;
}
/* 中间 */
.second-center{
    margin-left:6px;
    width:600px;
    height:152px;
}
.second-center>a{
    margin-bottom:17px;
    display:block;
    color:rgb(243, 93, 6);
}
.second-center>p{
    margin-bottom:10px;
    color:rgb(85, 85, 85);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* 小图尺寸 */
.animals-smimg>img{
    width:70px;
    height:53px;
}
/* 右侧 */
.second-right{
    width:170px;
    height:152px;
    text-align: center;
}
.second-right>p{
    margin-left:40px;
    margin-top:30px;
    text-align: center;
    height:30px;
    line-height: 30px;
}
.second-right>p:first-child{
    width:100px;
    background:rgb(245, 5, 5);;
}
.second-right>p:last-child{
    width:120px;
}
.second-right>p:first-child>a{
    text-decoration:none;
    color:#fff;
    font-size: 15px;
    font-weight: 500;
}
.second-right>p>span{
    color:rgb(245, 141, 4);
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 左侧分页栏 */
#second-paging{
    position: relative;
    text-align:center;
    padding:30px!important;
    height:174px;
}
#second-paging:after{
    content:"";
    clear:both;
    display: block;
}
.second-paging{
    position: absolute;
    top:50%;left:50%;
    margin-left:-178px;
    margin-top:-15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}
.second-paging>li{
    margin:0 5px;
}
.second-paging>li>button{
    width:70px;
    height:30px;
    color:#000;
    background:#ddd;
    border: 0;
    font-size: 12px;
}
/* 右侧部分 */
.animals-right{
    float:right;
    width:162px;
}
.animals-right>ul{
    list-style: none;
}
.animals-right>ul>li img{
    width:160px;
    height:160px;
}
/* 左侧提示部分 */
#website-message>div{
    margin-left:30px;
}
#website-message>div>h3{
    color:rgb(252, 134, 0);
    margin-bottom: 10px;
}
#website-message>div>p{
    color:#858585;
    font-size: 14px;
    margin-bottom: 20px;
}
#website-message>div>ul{
    list-style: none;
    padding:10px;
    padding-left:0;
}
#website-message>div>ul:after{
    content:"";
    clear:both;
    display:block;
}
#website-message>div>ul>li{
    box-sizing: border-box;
    float: left;
    height:30px;
    padding:5px 18px 5px 0;
}
#website-message>div>ul>li>a{
    color:#858585;
    font-size: 14px;
    line-height:1.5;
    text-decoration: none;
}
.second-img{
    margin-top:5px;
    box-sizing: border-box;
}
.hot-animals{
    box-sizing: border-box;
    width:1200px; 
    border:1px solid #b4b3b3;
    padding-top:10px;
}
.hot-animals>h3{
    width:150px;
    font-weight: 500;
    text-align:center;
    color:#fff;
    padding:10px;
    background:rgb(238, 89, 3);
    border-radius: 0 30px 30px 0;
}
.hot-animals>ul{
    list-style: none;
    margin-left:50px;
    margin-top:20px;
}
.hot-animals>ul:after{
    content:"";
    clear:both;
    display:block;
}
.hot-animals>ul>li{
    float: left;
    width:100px;
    margin-bottom: 10px;
    margin-right:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.hot-animals>ul>li>a{
    font-size: 13px;
    color:#858585;
    text-decoration: none;
}
.active{
    background:rgb(250, 163, 2)!important;
}
#new-li{
    box-sizing: border-box;
    width:1200px;
    padding:100px 100px;
    border: 1px solid #ccc;
    margin: 20px auto;
}
#new-li .new-div{
    background:url(../image/images/notFound.png) no-repeat left #fff;
    padding-left:220px;
}
#new-li .new-p{
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#new-li .new-div2{
    margin:10px auto;
}
#new-li .new-div2>p{
    font-size: 17px;
    margin-top:10px;
}
#new-li .new-div>p>span{
    display: inline-block;
    margin:0 5px;
}
#new-li .new-div>p>span>sup{
    color:rgb(248, 95, 7);
}
#new-li .new-div2>a{
    display:block;
    margin-top:30px;
    font-size: 20px;
    color:rgb(238, 112, 10);
}